* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #d9dde3;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 20px;
}

.board-container {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: bold;
}

.board-container h1 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #222;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

.board {
  width: 670px;
  height: 670px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative;
  border: 6px solid #222;
  background: white;
  overflow: hidden;
}


.cell {
  border: 1px solid #222;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.cell:nth-child(odd) {
  background: #ffeaa7;
}

.cell:nth-child(even) {
  background: #81ecec;
}

.snake,
.ladder {
  position: absolute;
  z-index: 3;
}

/* Snakes */
.snake1 {
  width: 150px;
  top: 70px;
  left: 200px;
  transform: rotate(20deg);
}

.snake2 {
  width: 150px;
  top: 250px;
  left: 450px;
  transform: rotate(20deg);
}

.snake3 {
  width: 120px;
  top: 410px;
  left: 170px;
  transform: rotate(5deg);
}

/* Ladders */
.ladder1 {
  width: 140px;
  height: 300px;
  left: 70px;
  top: 210px;
  transform: rotate(-30deg);
}

.ladder2 {
  width: 90px;
  height: 200px;
  left: 300px;
  top: 470px;
  transform: rotate(12deg);
}

.ladder3 {
  width: 120px;
  height: 270px;
  left: 500px;
  top: 360px;
  transform: rotate(25deg);
}
@media (max-width: 768px) {
  .board {
    width: 95vw;
    height: 95vw;
  }

  .board-container h1 {
    font-size: 28px;
  }

  .cell {
    font-size: 12px;
    padding: 3px;
  }

  .snake1 {
    width: 30%;
    top: 8%;
    left: 24%;
  }

  .snake2 {
    width: 26%;
    top: 35%;
    left: 61%;
  }

  .snake3 {
    width: 28%;
    top: 58%;
    left: 18%;
  }

  .ladder1 {
    width: 17%;
    top: 56%;
    left: 70%;
  }

  .ladder2 {
    width: 18%;
    top: 22%;
    left: 5%;
  }

  .ladder3 {
    width: 16%;
    top: 72%;
    left: 38%;
  }
}