
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      min-height: 100vh;
      display: grid;
      place-items: center;
      background: #ffffff;
      font-family: sans-serif;
    }

    table {
      width: min(92vmin, 560px);
      height: min(92vmin, 560px);
      border-collapse: collapse;
      table-layout: fixed;
      border: 3px solid #000;
    }

    td {
      border: 1px solid #000;
      background: #fff;
    }

    .g {
      background: #24c94a;
    }

    .b {
      background: #18a8e6;
    }

    .r {
      background: #e5054f;
    }

    .y {
      background: #fff100;
    }

    .c {
      background: #eeeeee;
    }
  