* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.chess-board {
  border: 5px solid #000000;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
}

.cell {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
}

.white {
  background: #fff;
}

.black {
  background: #000000;
}


.piece {
  user-select: none;
  line-height: 1;
}


.white .piece {
  color: #000;
  text-shadow: 0 0 6px #fff, 0 0 12px #fff;
}


.black .piece {
  color: #fff;
  text-shadow: 0 0 6px #000, 0 0 12px #000;
}