body {
    background-color: rgb(183, 213, 116);
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: rgb(211, 89, 89);
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

table {
    background-color: rgb(107, 223, 223);
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}